[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
pyzbar = "*"
pillow = "*"
base45 = "*"
cbor2 = "*"
cose = "*"
pyasn1 = "*"

[dev-packages]

[requires]
python_version = "3.9"
